<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/nakumatts?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1234</property>
    <mapping resource="Nakumatt/dao/Users.hbm.xml"/>
    <mapping resource="Nakumatt/dao/Offers.hbm.xml"/>
    <mapping resource="Nakumatt/dao/Categories.hbm.xml"/>
    <mapping resource="Nakumatt/dao/Carts.hbm.xml"/>
    <mapping resource="Nakumatt/dao/Products.hbm.xml"/>
    <mapping resource="Nakumatt/dao/Orders.hbm.xml"/>
    <mapping resource="Nakumatt/dao/Shippinginfo.hbm.xml"/>
    <mapping resource="Nakumatt/dao/Creditcards.hbm.xml"/>
    <mapping resource="Nakumatt/dao/Shipper.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
